.login-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.app-logo {
  height: 20%;
  width: 45%;
  margin: 6%;
}
.label {
  color: #94a3b8;
  font-family: 'roboto';
  margin-left: 10px;
  font-weight: 600;
}
.user-input {
  border-radius: 6px;
  border-width: 0.1px;
  height: 30px;
  margin: 3%;
  padding: 10px;
  font-family: 'roboto';
}
.checkbox {
  font-family: 'roboto';
  cursor: pointer;
}
.username-container {
  display: flex;
  flex-direction: column;
  margin: 6px;
  width: 80%;
}
.password-container {
  display: flex;
  flex-direction: column;

  width: 80%;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 4px;
}
.login-button {
  height: 30px;
  background-color: #3b82f6;
  color: #ffffff;
  font-family: 'roboto';
  border-width: 0px;
  border-radius: 8px;
  cursor: pointer;
  width: 75%;
}
.login-form {
  display: flex;
  flex-direction: column;
  border-width: 0.1px;
  background-color: #ffff;
  align-items: center;
  padding: 3%;
  border-radius: 4%;
  box-shadow: 3px #475569;
}

.err-msg {
  color: #ff0000;
  font-family: 'roboto';
  font-weight: 490;
}
.logout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.profile-image {
  height: 60%;
  width: 18%;
  margin-top: 12px;
}
